body{
  margin-left: 50px;
}
.task-class{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 340px;
  background-color: rgb(205, 198, 198);
  border-radius: 7px;
  margin-top: 15px;
  padding-left: 15px;

  
}
button{
  margin-left: 60px;
  height: 40px;
  border: none;
  background-color: rgb(89, 150, 89);
  color: aliceblue;
  border-radius: 5px;
}

.h2-clicked{
  color: rgb(76, 136, 89);
  text-decoration: line-through;
}
 h2:hover{
  cursor: pointer;
 }